.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

span {
  color: #7d858f;
}

.card {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  background-image: url("./assets/img-house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  margin-right: 24px;
  /* overflow: hidden; */
}

.like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-image: url("./assets/icon-favorite.svg");
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-position: center center;
  border: none;
  cursor: pointer;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.property-type {
  margin-bottom: 8px;
}

.plus-badge {
  font-size: 14px;
  line-height: 1.4285714286;
  display: inline-block;
  background-color: #92174d;
  padding: 1px 8px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 8px;
}

.property-type span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}

.property-rate {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 20px;
  margin-bottom: 9px;
}

.property-rate::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("./assets/icon-star.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: 4px;
  padding: 1.33px 1.33px;
  /* margin-bottom: 2px; */
}

.property-rate strong {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: inline-block;
  margin-right: 1px;
  height: 100%;
}

.property-rate span {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.card-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  color: #151b26;
  margin-bottom: 16px;
}

.property-detail {
  position: relative;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.property-detail span::after {
  content: " ·";
}

.property-detail span:last-child::after {
  content: "";
}

.property-detail span {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  margin-bottom: 8px;
}
