* {
  box-sizing: border-box;
  /* 
    원했던 480 x 480 이 만들어짐
  */
}

body {
  font-weight: 600;
  font-size: 20px;
  font-family: "Poppins";
  width: 600px;
  margin: 0 auto;
}

.box {
  width: 480px;
  height: 480px;
  background-color: #0066ff;
  color: #fff;
  padding-top: 40px;
  padding-left: 50px;
  /* 
  막상 보면 width: 530, height: 520임
  ---> Box sizing 필요

    * {
        box-sizing: content-box; --> 기본 설정
        ---> width, height은 content만의 사이즈로 설정 되어있다는 것
    }

  */
}

.parent {
  background-color: palevioletred;
  width: 300px;
}

.child {
  background-color: peachpuff;
  width: 150px;
}

.another {
  background-color: plum;
  width: 50px;
}

.float_parent {
  margin: 0 auto;
  width: 400px;
  text-align: center;
  /* background-color: #000; */
}

.float-child-1 {
  float: left;
  background-color: #ff4949;
  color: #fff;
  width: 200px;
  height: 200px;
  /* opacity: 0.5; */
}

.float-child-2 {
  float: left;
  background-color: #ffc82c;
  color: #fff;
  width: 200px;
  height: 200px;
}

.float-child-3 {
  float: left;
  background-color: #0066ff;
  color: #fff;
  width: 200px;
  height: 200px;
}

.black {
  background-color: black;
  color: #fff;
}
