* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}

/* ▼ WHERE YOUR CODE BEGINS */

.user-card {
  margin: 10px 10px;
  max-width: 240px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
}

.user-card::after {
  content: "";
  display: block;
  clear: left;
}

.user-photo {
  margin: 8px 12px;
  position: relative;
  float: left;
}

.user-photo img {
  /* img 태그에는 inline 요소지만 width, height 먹는 특이한 예외여서
    css적 버그 줄이기 위해 block 걸어주는게 좋음 */
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.user-status {
  border: 2px solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  background-color: #21d891;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.user-name {
  padding: 16px 0px 16px 0px;
}
